@mixin link {
  position: relative;

  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;

  transition: color $transition-time;
}

@mixin link-big {
  @include link;

  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.06em;
}

@mixin title {
  font-family: $font-bold;
  font-size: 32px;
  color: $color-primary;
  line-height: 41px;
  letter-spacing: -0.01em;
}

@mixin title-big {
  @include title;

  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.02em;
}

@mixin h2 {
  font-family: $font-bold;
  color: $color-primary;
  font-size: 22px;
  line-height: 31px;
}

@mixin h2-big {
  @include h2;

  font-size: 33px;
  line-height: 47px;
}

@mixin caption {
  font-family: $font-semibold;
  font-size: 20px;
  line-height: 26px;
}

@mixin caption-big {
  @include caption;
  font-size: 30px;
  line-height: 39px;
}

@mixin small-text {
  font-family: $font-semibold;
  font-size: 12px;
  line-height: 15px;
}

@mixin small-text-big {
  @include small-text;

  font-size: 18px;
  line-height: 23px;
}

@mixin buttons {
  font-family: $font-semibold;
  font-size: 14px;
  line-height: 21px;
}

@mixin buttons-big {
  @include buttons;

  font-size: 21px;
  line-height: 32px;
}

@mixin body-text {
  font-family: $font-regular;
  font-size: 14px;
  line-height: 21px;
}

@mixin body-text-big {
  @include body-text;

  font-size: 21px;
  line-height: 32px;
}

@mixin page {
  max-width: $page-width;
  margin: 0 auto;
  padding: 24px 0 80px;
}

@mixin page-big {
  max-width: $page-width-big;
  margin: 0 auto;
  padding: 36px 0 120px;
}

@mixin onBigScreen {
  @media (min-width: 3000px) {
    @content;
  }
}
