@import '../../../../assets/styles/utilities/vars';
@import '../../../../assets/styles/utilities/mixins';

.charts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  transition: box-shadow $transition-time;
  width: 100%;

  &__chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px $color-primary;
    border-radius: 8px;
    padding: 20px 0;
    width: 45%;

    &:hover {
      box-shadow:
        0 0.5em 1em -0.125em hsla(0, 0%, 4%, 0.1),
        0 0 0 1px hsla(0, 0%, 4%, 0.02);
    }
  }

  &__chart {
    width: 100%;
    height: 600px;
  }

  &__title {
    @include caption;

    margin-bottom: 20px;
  }

  @include onBigScreen {
    gap: 30px;

    &__chart-container {
      border-width: 1.5px;
      border-radius: 12px;
      padding: 30px 0;
    }

    &__title {
      @include caption-big;

      margin-bottom: 30px;
    }

    &__chart {
      height: 900px;
    }
  }
}

// .css-sfv08n-MuiChartsTooltip-root {
//  font-size: 50px;
// }

.css-ahj2mt-MuiTypography-root {
  @include onBigScreen {
    font-size: 21px !important;
    line-height: 32px !important;
  }
}

// @mixin body-text {
//   font-family: $font-regular;
//   font-size: 14px;
//   line-height: 21px;
// }
