@import '../utilities/vars';
@import '../utilities/mixins';

.analysis-page {
  @include page;

  &__title {
    @include title;

    text-align: center;
    margin-bottom: 50px;
  }

  &__subtitle {
    @include h2;

    margin-bottom: 20px;
  }

  &__total {
    margin: 0 auto 72px;
  }

  @include onBigScreen {
    @include page-big;

    &__title {
      @include title-big;
      margin-bottom: 75px;
    }

    &__subtitle {
      @include h2-big;
      margin-bottom: 30px;
    }

    &__total {
      margin-bottom: 108px;
    }
  }
}
