@import '../utilities/vars';
@import '../utilities/mixins';

.footer {
  flex: 0 0 auto;
  padding: 0 152px;
  box-shadow: 0 -1px $color-elements;
  background-color: $color-primary;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $footer-height;

    font-family: $font-bold;
    color: $color-bgc-and-hbr;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 64px;
    }
  }

  &__link {
    @include link;

    &:hover {
      color: $color-secondary;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    height: 32px;
    @include small-text;

    color: inherit;
    background-color: inherit;
    cursor: pointer;
  }

  &__logo {
    transition: transform $transition-time;

    &:hover {
      transform: scale($scale-value);
    }
  }
}

.button {
  transition: color $transition-time;

  &__text {
    margin-right: 16px;
  }

  &:hover {
    color: $color-secondary;
  }
}
