$font-regular: "Montserrat Regular", sans-serif;
$font-semibold: "Montserrat Semibold", sans-serif;
$font-bold: "Montserrat Bold", sans-serif;

$color-primary: #313237;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-bgc-and-hbr: #fafbfc;
$color-white: #fff;
$color-green: #27ae60;
$color-red: #eb5757;

$page-width: 1600px;
$page-width-big: 2500px;
$card-width: 350px;
$card-width-big: 500px;
$transition-time: 0.3s;
$scale-value: 1.1;
$big-increase: 1.5;

$header-height: 64px;
$footer-height: 96px;